[submodule "services/ether"]
	path = services/ether
	url = git@github.com:gspalato/ether.git

[submodule "services/echo"]
	path = services/echo
	url = git@github.com:gspalato/echo.git
	
[submodule "apps/portfolio"]
	path = apps/portfolio
	url = git@github.com:gspalato/portfolio.git
