services:
  # Reverse Proxy
  #proxy:
  #  hostname: "proxy"
  #  build:
  #    context: ./
  #    dockerfile: ./Reality.Proxy/Dockerfile
  #  depends_on:
  #    - gateway

  # Portfolio Front-end
  portfolio:
    hostname: "portfolio"
    ports:
      - "80:8080"
    build:
      context: ./
      dockerfile: ./Portfolio/Dockerfile
    depends_on:
      - gateway

  # Reality API Gateway
  gateway:
    hostname: "gateway"
    ports:
      - "4000:80"
    build:
      context: ./
      dockerfile: ./Reality.Gateway/Dockerfile
    env_file:
      - .env
    environment:
      - DATABASE_NAME=portfolio
      - SERVICE_URLS=http://identity_service,http://upx_service
      - Logging__Console__FormatterName=Simple
    depends_on:
      - identity_service
      - blog_service
      - project_service
      - upx_service

  # Reality API Microservices
  identity_service:
    hostname: "identity_service"
    build:
      context: ./
      dockerfile: ./Reality.Services.Identity/Dockerfile
    env_file:
      - .env
    environment:
      - DATABASE_NAME=auth
      - Logging__Console__FormatterName=Simple
    depends_on:
      - db

  #blog_service:
  #  hostname: "blog_service"
  #  build:
  #    context: ./
  #    dockerfile: ./Reality.Services.Portfolio.BlogService/Dockerfile
  #  env_file:
  #    - .env
  #  environment:
  #    - DATABASE_NAME=portfolio
  #    - Logging__Console__FormatterName=Simple
  #  depends_on:
  #    - db

  #project_service:
  #  hostname: "project_service"
  #  build:
  #    context: ./
  #    dockerfile: ./Reality.Services.Portfolio.ProjectService/Dockerfile
  #  env_file:
  #    - .env
  #  environment:
  #    - DATABASE_NAME=portfolio
  #    - Logging__Console__FormatterName=Simple
  #  depends_on:
  #    - db

  upx_service:
    hostname: "upx_service"
    build:
      context: ./
      dockerfile: ./Reality.Services.IoT.UPx/Dockerfile
    env_file:
      - .env
    environment:
      - DATABASE_NAME=upx
      - Logging__Console__FormatterName=Simple
    depends_on:
      - db

  # Databases
  db:
    hostname: "db"
    image: mongo
    restart: always
    env_file:
      - .env
    volumes:
      - mongodbdata:/data/db

volumes:
  mongodbdata: